 <!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;"  >
    <a class="navbar-brand" href="/"><img src="Assets\images\logo.png" height="60px" width="150x" style="padding-left: 20px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home 
            </a></li>
            
        <% if (title == "About") { %>
            <li class="nav-item active">
                <% } else { %>
            <li class="nav-item">
                <% }  %>
          <a class="nav-link" href="/about"><i class="fa-solid fa-house"></i>About me</a>
        </li>
       
        <% if (title == "Projects") { %>
            <li class="nav-item active">
                <% } else { %>
            <li class="nav-item">
              <% }  %>
          <a class="nav-link" href="/projects">Projects</a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
            <% } else { %>
        <li class="nav-item">
          <% }  %>
          <a class="nav-link" href="/services">Services</a>
        </li>

        <% if (title == "Contact") { %>
            <li class="nav-item active">
                <% } else { %>
            <li class="nav-item">
              <% }  %>
          <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>

    </div>
  </nav>